/******************************/
/***** Work Section *******/
/******************************/

/*
.work{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.work h1{
    color: #0F5B69;
    background-color: white;
    width: 100%;
    text-align: center;
}

.work .cards section{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50vh - 1em);
    align-items: center;
    
    margin: 0.50em .50em;
    background-color: white;    
    border-radius: 4px;
}

.work .cards section p{
    margin:1em;
}

.work figcaption{
    display: none;
}

.work .cards{
    display: flex;  
    flex-wrap: wrap;
    align-items: stretch; 
    justify-content: center;
    
}

@media only screen and (min-width : 38em) and (max-width : 60em){
    .work .cards{
        flex-direction: column;
    }

    .work .cards section{
        align-items: center;
        justify-content: space-evenly;
    }

    .work figcaption{
     display: none;
    }

    .work .cards section h1{
        display:none;
    }

    .work .cards section:nth-child(odd){
        flex-direction: row;
    }

    .work .cards section:nth-child(even){
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width : 60em){
    .work .cards section{
        flex-grow: 0;
    }
}


/******************************/
/***** Education Section *******/
/******************************/

.education h1{
    color: #0F5B69;
    background-color: white;
    width: 100%;
    text-align: center;
}

.education .cards section h1{
    display: none;
}

.education .cards section{
    display: flex;
    flex-direction: column;
    /*flex-basis: 50vh;
    flex-grow: 1;
    flex-shrink: 1;*/
    flex: 1 1 calc(50vh - 1em);
    align-items: center;
    
    margin: .50em .50em;
    background-color:white;
    border-radius: 4px;
}

.education .cards section p{
    margin:1em;
}

ul{
    list-style: none;
}

.education figcaption{
    color: #0F5B69;
    /*display: none;*/
}

.education .cards{
    display: flex;  
    flex-wrap: wrap;
    align-items: stretch; 
    justify-content: center;
}


@media only screen and (min-width : 38em) and (max-width : 60em){
    .education .cards{
        flex-direction: column;
    }

    .education .cards section{
        align-items: center;
        justify-content: space-evenly;
    }

    .education figcaption{
     display: none;
    }

    .education .cards section p{
        display:none;
    }

    .education .cards section:nth-child(odd){
        flex-direction: row;
    }

    .education .cards section:nth-child(even){
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width : 62em){
    .education .cards section{
        flex-grow: 0;
    }
}